<form [formGroup]="addTransactionForm" (ngSubmit)="onSubmit()">
  <!-- Description -->
  <mat-form-field appearance="standard">
    <mat-label>Description</mat-label>
    <input matInput type="text" formControlName="description">
  </mat-form-field>
  <br>
  <!-- Source Account -->
  <app-form-account-picker [parentForm]="addTransactionForm"
                           [parentFormControl]="addTransactionForm.get('sourceAccount')"
                           [accountType]="'Asset account,Revenue account,Loan,Debt,Mortgage'"></app-form-account-picker>
  <br>
  <!-- Destination Account -->
  <app-form-account-picker [parentForm]="addTransactionForm"
                           [parentFormControl]="addTransactionForm.get('destinationAccount')"
                           [accountType]="'Asset account,Expense account,Loan,Debt,Mortgage'"></app-form-account-picker>
  <br>
  <button mat-raised-button color="primary">Submit</button>
</form>
